@model mvcfirst.Models.Book

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div> 
        this is my books
        id is @Model.Id
        <br>
        title is @Model.Title
        <br>

    </div>
</body>
</html>
